.direct__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 9px;
  width: 300px;
  margin: -5px;
  border: 3px solid #222d37;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  color: #444c55;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 315px) {
  .direct__btns {
    width: 200px;
  }
}
